﻿@page
@model Quiz1_Domenico.Pages.Kabel.CreateModel
@{
}

    <form method="post">
        <label class="col-form-label" asp-for="NewKabel.KabelName"></label>
        <input type="text" asp-for="NewKabel.KabelName" class="form-control" />
        <span asp-validation-for="NewKabel.KabelName" class="text-danger"></span>
        <br />
        <label class="col-form-label" asp-for="NewKabel.KabelQuantity"></label>
        <input type="text" asp-for="NewKabel.KabelQuantity" class="form-control" />
        <span asp-validation-for="NewKabel.KabelQuantity" class="text-danger"></span>
        <br />
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
