<!--<template>
    <div>
        <div v-if="isAddKabel === false">
            <button class="btn btn-primary" type="button" @click="addNewKabel">Add Kabel</button>
            <input type="text" v-model="filterByName" @change="fetch()" />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(kabel,index) in kabels" :key="index">
                        <td>{{kabel.name}}</td>
                        <td>{{kabel.quantity}}</td>
                        <td>
                            <a :href="'/kabel/update?kabelId='+kabel.kabelId" class="btn btn-warning">Update</a>
                            <button class="btn btn-danger" @click="deleteKabel(kabel.kabelId)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination" v-for="page in totalPage">
                        <li class="page-item">
                            <button @click="changePage(page)">{{page}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div v-if="isAddKabel === true">
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertKabel">
                    <label class="col-form-label">Name</label>
                    <validation-provider name="Name" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newKabel.kabelName" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Quantity</label>
                    <validation-provider name="Quantity" rules="required|integer" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newKabel.kabelQuantity" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { KabelModel, KabelService } from '../services/NSwagService';
    import { ValidationObserver } from 'vee-validate';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: ListKabel) {

            await this.fetch();
        }
    })

    export default class ListKabel extends Vue {
        service: KabelService = new KabelService();

        kabels: KabelModel[] = [];

        isAddKabel = false;

        newKabel: KabelModel = {
            kabelName: '',
            kabelId: 0,
            kabeQuantity: 0
        }

        filterByName = '';
        pageIndex = 1;
        itemPerPage = 3;
        totalData = 1;
        totalPage = 1;

        async fetch(): Promise<void> {
            this.totalData = await this.service.getTotalData();
            this.totalPage = Math.ceil(this.totalData / this.itemPerPage);

            this.kabels = await this.service.getFilteredData(this.pageIndex, this.itemPerPage, this.filterByName);
        }

        async changePage(page: number): Promise<void> {
            this.pageIndex = page;
            await this.fetch();
        }

        async insertKabel(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            this.newKabel.kabelQuantity = this.newKabel.kabelQuantity;
            await this.service.insertKabel(this.newKabel);
            await this.fetch();

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert kabel.'
            });

            this.isAddKabel = false;
        }

        addNewKabel(): void {
            this.isAddKabel = true;
            return;
        }

        async updateKabel(kabelId): Promise<void> {
            await this.service.updateKabel(kabelId);
            await this.fetch();
            swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then((result) => {
                if (result.value) {
                    swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
        }


        async deleteKabel(kabelId): Promise<void> {
            await this.service.deleteKabel(kabelId);
            await this.fetch();

            swal.fire({
                title: '~~yeayy~~',
                icon: 'success',
                text: kabelId + 'deleted'
            })
        }
    }
</script>-->
